#map
{
  height: 60vh;
}
.plot-group{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.header{
  padding-top: 10px;
  padding-left: 15px;
}
.row{
  padding-left: 15px;
  justify-content: center;
  align-items: flex-end;
}
.map-container{
  padding-left: 30px;
  padding-right: 30px;
}
.footer {
  font-size: 0.75rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777;
  color: white;
  text-align: center;
}
.accordion-container{
  padding: 10px;
}
.resources-title{
  padding-left: 15px;
  padding-top: 10px;
}